@model DotnetPlayground.Models.Blog

@{
    ViewData["Title"] = "Details";
}

<section class="blog--details">
    <div class="container px-0">
        <div class="row">
            <div class="col-12">
                <header class="blog--details-header">
                    <h1>@Model.Title</h1>
                    <a asp-action="Index">Back to List</a>
                </header>
            </div><!-- col -->

            <div class="col-lg-8">
                <div class="blog--details-content">
                    <p>@Model?.Content</p>
                </div>
            </div><!-- col -->

            <div class="col-lg-3 offset-lg-1">
                <div class="blog--details-sidebar">

                    <div class="blog--details-sidebar-item">
                        <strong>Created on:</strong>
                        <time datetime="@Model?.CreatedDate">@Model?.CreatedDate.ToString("dd MMMM yyyy")</time>
                    </div>

                    @if (Model?.Author != null)
                    {
                        <div class="blog--details-sidebar-item">
                            <strong>Written by:</strong>
                            <p>@Model.Author</p>
                        </div>
                    }


                    @if (User.Identity != null && User.Identity.Name == Model?.Author)
                    {
                        <div class="blog--details-sidebar-item">
                            <strong>Update:</strong>
                            <div>
                                <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
                                <span>|</span>
                                <a asp-action="Delete" asp-route-id="@Model?.Id"> Delete</a>
                            </div>
                        </div>
                    }
                </div>
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
</section>
