@model IEnumerable<DotnetPlayground.Models.Blog>

@{
    ViewData["Title"] = "Index";
}

<section class="blog--listing">
    <h1 class="blog-title">Blog</h1>
    <p class="mb-5">
        <a asp-action="Create" class="button--green">Create New</a>
    </p>

    <ul class="blog-list">
        @foreach (var item in Model)
        {
            <li>
                <article class="blog-item">
                    <h3 class="blog-item-title">
                        <a asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
                    </h3>
                    <span class="blog-item-date">@item.CreatedDate</span>
                    <span class="blog-item-author">@item.Author</span>
                </article>
            </li>
        }
    </ul>
</section>
