@model IEnumerable<DotnetPlayground.Models.Blog>

@{
    ViewData["Title"] = "Index";
}

<section class="blog--listing">
    <h1 class="blog-title">Blog</h1>

    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <p class="mb-5">
            <a asp-action="Create" class="button--green">Create New</a>
        </p>
    }
    else
    {
        <p class="mb-5">Please log in to create your first blog entry!</p>
    }

    <ul class="blog-list">
        @foreach (var item in Model)
        {
            <li>
                <article class="blog-item">
                    <h3 class="blog-item-title">
                        <a asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
                    </h3>
                    <div class="blog-item-info">
                        <span class="blog-item-date">Written: @item.CreatedDate.ToString("dd MMMM yyyy")</span>
                        <span class="blog-item-author">By: @item.Author</span>
                    </div>
                </article>
            </li>
        }
    </ul>
</section>
