@{
    ViewData["Title"] = "Home Page";
}

<section class="home">
    <h1>Welcome to the Dotnet Playground!</h1>
    <p>This is a place to experiment with, and record your progress with, <a href="https://dotnet.microsoft.com/en-us/" target="_blank">dotnet!</a></p>
</section>
