@use "../utils/variables" as var;
@use "../utils/mixins" as mix;

.blog {
	@include mix.sectionStyling;

	&--listing {
		@extend .blog;
	}

	&-title {
		margin-bottom: 2.4rem;
	}

	&-list {
		display: grid;
		grid-template-columns: 100%;
		gap: 1.6rem;

		@media (min-width: var.$lg) {
			grid-template-columns: repeat(3, 1fr);
			gap: 2.4rem;
		}
	}
}
