@use '../utils/variables' as var;
@use '../base/icons';

@mixin buttonHover($color) {
    box-shadow: inset 0 -5px 0px 0px $color;
}

.button {
    cursor: pointer;
    padding: 1.2rem 1.6rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all var.$fast;
    border: none;
    font-family: var.$font-family;
    font-weight: var.$medium;
    font-size: 1.6rem;

    &:has(svg) {
        padding: 1.2rem;
    }

    &--green {
        @extend .button;
        background: var.$grey;
        color: var.$black;

        &:hover,
        &:focus {
            @include buttonHover(var.$green);
        }
    }

    &--red {
        @extend .button;
        background: var.$red;
        color: var.$white;

        &:hover,
        &:focus {
            @include buttonHover(darken(var.$red, 25%));
        }
    }

    > svg {
        @include icons.iconStyling($fillColor: var.$white);
    }
}